body {
  font-family: 'Montserrat', sans-serif;
}

h1, h2 {
  font-weight: bold;
}

header {
  background-color: #2c3e50;
  color: #fff;
  line-height: 70px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0 20px;
  position: relative;
}

header .wrapper {
  max-width: 1170px;
  margin: 0 auto;
}

header .logo {
  float: left;
}

header .nav {
  float: right;
}

header .nav ul {
  list-style-type: none;
  margin:0;
  padding: 0;
}

header .nav li {
  display: inline-block;
  margin-right: 15px
}

header .nav li:last-child {
  margin-right: 0;
}

header .nav li a {
  color: #fff;
  text-decoration: none;
}

header .nav a:hover {
  color: #1abc9c;
}

/* regola clearfix */

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

/* icon */
/* codice non funzionante */
header .icon .fa-bars {
  display: none;
  color: #fff;
  position: absolute;
  top: 27px;
  right: 20px;
}

/* media queries */
/* codice non funzionante */
@media screen and (max-width 768px) {
  header .icon .fa.bars {
    display: block;
  }

  header .nav {
    display: none;
  }
}

/* fine header */

/* inizio main */
/* classi per area */
.ms_primary_area {
  background-color: #1abc9c;
  color: #fff;
  padding: 40px 0;
  text-transform: uppercase;
}

.ms_secondary_area {
  background-color: #fff;
  color: #2c3e50;
}

.ms_intro {
  font-size: 20px;
  text-align: center;
}
/* fine classi per area */

/* immagini */
.teaser img {
  max-width: 200px;
}

.portfolio .item {
  margin: 10px;
}

.portfolio .item img {
  width: 100%;
  border-radius: 13px;
}

.about {
  background-color: #1abc9c;
}
.about .fa-star {margin-bottom: 50px}
.about .container-fluid {
  max-width: 600px;
}
